body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

 #hero-section 
{     
  
  background: rgb(4,1,15);
  background: linear-gradient(90deg, rgba(4,1,15,1) 0%, rgba(2,6,11,0.9724264705882353) 35%, rgba(0,0,0,1) 100%);
  color: white;
}

/* Mis trabajos */

#Trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}